.carousel-wrapper{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  min-height:400px;
  position:relative;
  width:auto;
  margin:0 auto;
  padding: 2%;
  background-color: rgba(161, 161, 161, 0.274);
  z-index: 0;
}

.carousel-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.carousel-item img {
  min-width: 300px;
  min-height: 300px;
  width: 400px;
  height: 400px;
  object-fit: cover;
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  z-index: 1;
}

.arrow {
  display: inline-block;
  color: black;
  font-size: 40px;
  cursor: pointer;
}

#leftarrow{
  position: relative;
  top: 0;
  right: 0;
  left: -5%;
  bottom: 0;
  z-index: 2;
}

#rightarrow{
  position: relative;
  top: 0px;
  right: 0;
  left: 5%;
  bottom:0;
  z-index: 2;
}

.backimages {
  position: relative;
  width: 250px;
  height: 250px;
  object-fit: cover;
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  opacity: 0.4;
  cursor: pointer;
}

#imgleft{
  left: 120px;
}

#imgright{
  right: 120px;
}

.pet-card{
  background-color: #ffc79921;
  margin-left: 12%;
  margin-right: 10%;
  margin-top: 10px;
  border-bottom: 1px solid #004383;
  border-radius: 3px;
  border-top: 5px solid #004383;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1400px;
}

.pet-name{
  z-index: -1;
  position: relative;
  font-size: 50px;
  margin-bottom: 2%;
  margin-top: 1%;
  color: #004383;
  font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:100;
}

.pet-basicinfo {
  word-spacing: 8px;
  font: 20px;
  font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(99, 99, 99);
  }

#pet-vacstatus {
  margin-top: 10px;
  margin-bottom: 10px;
  word-spacing: 0;
}

#pet-dot {
  font-size: 20px;
  color: rgb(37, 37, 37)
}

#check {
  color: green;
}

#cross {
  color: red;
}

#space {
  opacity: 0;
}

.petvacicon {
  font-size: 15px;
}
.pet-description {
  text-justify: distribute;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

#pet-demoinfo {
  position:absolute;
  right: 17%;
  margin-top: 15px;
}

.pet-info{
  display: flex;
  flex-direction: column;
}

#pet-demoinfo{
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
  color: #353535;
  font-size: 15px;
}

.org-logo {
  border: solid 2px #353535;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}

#pet-applybutton {
  position:absolute;
  left: 17%;
  margin-top: 15px;
}

 #applynowbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  margin:auto;
  color: white;
  background: linear-gradient(180deg, #0586C3 0%, #004383 100%), #004383;
  border-radius: 16px;
  background-color: #205cff;
  min-width: 60;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  z-index: 2;
}

.dog-cat-img {
  width: 20px;
  height: auto;
  margin-right: 20px;
}

#namedot{
  font-size: 35px;
  margin-right: 20px;
}