* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.mainsignup{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:flex-start;
  margin-top: 40px;
  margin-inline-start: 20%;
  margin-inline-end: 20%;
  min-width: 500px;
}

.mainsignup div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.signup {
  border: 2.5px solid #004383;
  background-color: white;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-block-end: 20px;

}

.signup img {
  max-width: 300px;
  max-height: 300px;
}

.signup p {
  color: #004383;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.loginImage {
  margin-top: 20px;
  height: 400px;
}

form {
  width: 100%;
  box-sizing: border-box;
  align-self: center;
  line-height: 25px;
  padding: 10px;
}

::placeholder {
  font-size: small;
}

input {
  border: 1px solid #004383;
  background-color: rgb(245, 245, 245);
  white-space: 5px;
  box-sizing: border-box;
  border-radius: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  height: 100%;
  padding: 10px 15px;
  width: 50pv;
  margin-bottom:5px;
  float: inline-end;
}

.signup a {
  color: #0095f6;
  color: rgba(var(--fe0,0,55,107),1);
  text-decoration: none;

}

.signup button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  margin:auto;
  color: white;
  background: linear-gradient(180deg, #0586C3 0%, #004383 100%), #004383;
  border-radius: 16px;
  background-color: #205cff;
  width: 260px;
  height: auto;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

#account {
  color: #0586C3;
}

#signUp {
  color: #004383;
}

#allsignup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#demobuttons {
  display: flex;
  flex-direction: row;
  width: 248px;
}

#demobuttonorg {
  border-radius: 0px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-right: 1px;
}

#demobuttonuser {
  border-radius: 0px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-left: 1px;
}

#typeofuser{
  margin: 0;
  padding: 0;
  margin-top: 20px;
  color: #004383;
}

/* #radio {
  all: unset;
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  
} */

.signup .org {
  background: linear-gradient(180deg, #FFC799 0%, #FFA199 100%), #FFFF99;
}

.signup .user {
  background: linear-gradient(180deg, #FFC799 0%, #FFA199 100%), #FFFF99;

}

#biotextarea{
  border: 1px solid #004383;
  background-color: rgb(245, 245, 245);
  white-space: 5px;
  box-sizing: border-box;
  border-radius: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom:5px;
  float: inline-end;
  min-width:251.25px;
}

.bigbio {
  width:400px;
  height: 250px;
}

.passwordinput {
  -webkit-text-security: disc;
}

#logozoomiesvertical{
  /* margin-right: 200px; */
  height: 500px;
}


.fadein img {
  position:absolute;
  top:600px;
  left: 50px;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 0.8;}
  33% {opacity: 1;}
  53% {opacity: 0.7;}
  100% {opacity: 0.5;}
}
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity:1;}
  33% {opacity: 0.9;}
  66% {opacity: 0;}
  100% {opacity: 0;}
}

.f1 {
  background-color: lightblue;
}

.f2 {
  -webkit-animation-delay: -5s;
  background-color: yellow;
}

#movingimgdiv {
  position: relative;
  left: -250px;
  bottom: 600px;
}


#selectionbuttons {
  display: flex;
  flex-direction: row;
  width: 248px;
  margin-bottom: 10px;
  margin-top: 10px;

}

#leftbutton {
  border-radius: 0px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-right: 1px;
}

#centerbutton {
  border-radius: 0px;
  margin: 0px 1px;
  width: 51px;
}

#middlebutton {
  border-radius: 0px;
  margin-left: 1px;
  margin-right: 1px;
}

#rightbutton {
  border-radius: 0px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-left: 1px;
}

#doublebutton {
  display: flex;
  flex-direction: row;
  width: 248px;
  margin-bottom: 6px;
}

#doublebuttonleft {
  height: 25px;
  border-radius: 0px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-right: 1px;
}

#doublebuttonright {
  height: 25px;
  border-radius: 0px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-left: 1px;
}

#createanewpettext {
  position: static;
  margin-bottom: 15px;
}

#vaccionationstatustext {
  position: static;
  margin-bottom: 0px;
  font-size: 13px;
}

.signup .clickedbutton {
  background: linear-gradient(180deg, #FFC799 0%, #FFA199 100%), #FFFF99;
}

#selectdiv {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  width: 230px;
}

#selectdiv .colorselector {
  height: 12px;
  width: 220px;
}

.react-dropdown-select-dropdown {
  height: 1500px;
}

.e1qjn9k90{
  padding-top: 500px;
}

.editform-editingdog{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#editpet-back {
  position: relative;
  left: 50px;
  top: 25px;
  font-size: 15px;
  color: black;
}

#petedit-backdiv {
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;
}

#petedit-backspan {
  position: relative;
  left: 73px;
  top: 11px;
  font-size: 12px;
}