html,body{
  margin:0;
  /* padding: 0; */
  /* height: 100%; */
}

a{
text-decoration: none;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navBarDiv {
  /* border: red solid 1px; */
  display: flex;
  /* background-color: #ffffff; */
  background-image: url(https://i.imgur.com/R758T6q.png);
  border-bottom: #004383 solid 4px;
  border-top: #004383 solid 15px;
  justify-content: space-between;
  min-height: 70px;
}

.navLogo{
  margin-left: 6%;
}

#logo {
  min-width: 200px;
  height: 65px;
  margin-left: 15px;
}

.navBarOptions{
  display: flex;
}

.optionclass {
  display: flex;
  font-weight: bolder;
  flex-direction: column;
  /* border:green solid 1px; */
  min-width: 65px;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.icon{
  font-size: 25px;
  color: black;
  cursor: pointer;
}

/* <div class="point"></div> */
.point {
  width: 6px;
  height: 3px;
  background: #FFA199;
  border-radius: 3px;
  transition: width 0.2s ease;
  opacity: 0;
}

.pointtoline {
  width: 50px;
  opacity: 1;
}

#navbar-logouttext {
  cursor: pointer;
}