.allsingleapplicationdiv{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  /* justify-content: center; */
  min-height: 45px;
  min-width: 370px;
  /* padding-top: 20px; */
  padding-left: 20px;
  border-top: #004383 1px solid;
  margin-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

#applicationchecked-newborder {
  min-width: auto;
}

#textapplicationdiv{
  cursor: pointer;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  margin-bottom:0px;
}

#application-namedot {
  position: relative;
  font-size: 25px;
  top: 14px;
  left: -5px;
  color: rgb(46, 46, 46);
}

#checkedapplications-namedot {
  position: relative;
  font-size: 25px;
  top: 3px;
  left: -5px;
  color: rgb(46, 46, 46);
}

.application-infodiv {
  position: relative;
  top: -30px;
  left: 60px;
}

#application-petname, #application-username {
  margin-right: 10px;
  font-size: 15px;
}

#application-verticaldivision {
  margin-right: 10px;
  font-weight: bolder;
  font-size: 15px;
  color: rgb(65, 65, 65);
}

.application-dog-cat-img {
  position: relative;
  top: 20px;
  width: 20px;
  height: auto;
  margin-right: 20px;
}

.checked-applications-imganddot{
  top: 10px;
}

#application-doublebutton {
  /* position: relative; */
  margin-top: 18px;
  margin-left: 8%;
}

#application-doublebuttonleft {
  height: 25px;
  width: 60px;
  border-radius: 0px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-right: 1px;
  cursor:pointer;
  border: 1px;
  color: white;
  background: linear-gradient(180deg, #0586C3 0%, #004383 100%), #004383;
  background-color: #205cff;
  height: auto;
  padding: 8px;
  font-size: 14px;
}

#application-doublebuttonright {
  height: 25px;
  width: 60px;
  border-radius: 0px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-left: 1px;
  cursor:pointer;
  border: 1px;
  color: white;
  background: linear-gradient(180deg, #0586C3 0%, #004383 100%), #004383;
  background-color: #205cff;
  height: auto;
  padding: 8px;
  font-size: 14px;
}

#user-created_at {
  margin-left: 10%;
  margin-top: 3%;
}
